:root {
    --main-white: hsl(0, 0%, 100%);
    --slate-light: hsl(212, 45%, 89%);
    --slate-regular: hsl(216, 15%, 48%);
    --slate-dark: hsl(218, 44%, 22%);

    --main-font: 'Outfit', sans-serif'; 

}